.suti-form {/* Fenti táblázat ahova az új süteményeket visszük fel */
border-style: none;
background-color: #d4b3a3;
padding: 10px;
margin: 40px auto 0 auto;
width: 50%;
}
.suti-table {/* Alsó táblázat ahol a lista van */
border-style: none;
padding: 20px;
margin: 30px auto 120px auto;
width: 90%; /* Majdnem teljes szélesség */
max-width: 1200px;   /* De ne legyen túl széles óriási monitoron */
min-width: 300px;    /* Ez megakadályozza, hogy kicsinyítésnél eltűnjön */
overflow-x: auto;    /* Ha mégis túl kicsi a hely, legyen görgetősáv, ne tűnjön el */

}

.suti-table table {
    width: 100%;
}

body > table{
width: 80%;
}
table{
border-collapse: collapse;
}
table.list{
width:100%;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
background-color: #d4b3a3;
}
input[type=text], input[type=number], select {
width: 100%;
padding: 8px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 30%;
font-size: 15px;
background-color: black;
width: 20%;
background-color: #6b3e26;
color: white;
padding: 10px 18px;
border: none;
border-radius: 5px;
cursor: pointer;
}

form div.form-action-buttons{
text-align: right;
}

a{
cursor: pointer;
text-decoration: underline;
color: #0000ee;
margin-right: 4px;
}
label.validation-error{
color: red;
margin-left: 5px;
}
.hide{
display:none;
}
label{
    font-weight: bold;
}
