body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8e8d0;

    background-image: url("hatter.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
    background-size: 70% auto;
    }

 header {
            background-color: #6b3e26;
            color: white;
            padding: 20px;
        }

      .header-top {
    display: flex;
    align-items: center;
    position: relative;
}

/* LOGÓ KÖR ALAK + FEHÉR RÉSZ ELTÜNTETÉS */
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 80%;   /* EZ CSINÁLJA KÖRRÉ */
    position: absolute;
    left: 300px; 
    top: -10px;
}
h1 {
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
}
 main {
            text-align: center;
            margin-top: 0px;
}

.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #6b3e26;
        display: flex;
        justify-content: center;
    }

     .menu a {
            display: block;
            color: white;
            padding: 14px 16px;
            text-decoration: none;
          }

     .menu a:hover {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-color: #f8e8d0;
            color: black;
            transform: scale(1.05);
        }

     .menu a.active{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-color: #f8e8d0;
            color: black;
        }

footer {
    background-color: #6b3e26;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }

.content {
    max-width: 800px;
    margin: -10px auto;
    padding: 20px;
    text-align: left;
}

.content h2 {
    color: #6b3e26;
    margin-top: 40px;
    margin-bottom: 25px;
}

.content p {
    line-height: 1.6;
    margin-top: 10px;
}
        