.suti-form { /*Adatbeviteli mező*/
border-style: none;
    background-color: #d4b3a3;
    padding: 20px; /* Megnövelve, hogy kényelmesebb legyen */
    margin: 40px auto 20px auto; /* Alsó margó hozzáadva a táblázat előtt */
    width: 80%; /* EGYSÉGESÍTVE */
    max-width: 1000px; /* EGYSÉGESÍTVE */
    box-sizing: border-box;
    text-align: left;
}

.suti-table {
  border-style: none;
    padding: 0; /* A táblázat konténerénél nem kell belső margó, ha a formnak van */
    margin: 0 auto 120px auto;
    width: 80%; /* EGYSÉGESÍTVE */
    max-width: 1000px; /* EGYSÉGESÍTVE */
    overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even),
table.list thead > tr {
  background-color: #d4b3a3;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

button {
  font-size: 15px;
  background-color: #6b3e26;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
}

button:hover {
  opacity: 0.9;
}

.form-action-buttons {
  text-align: right;
  margin-top: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 6px;
}

h2 {
  color: #6b3e26;
}

p {
  color: #6b3e26;
}

footer p {
  color: white;
}